<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parameters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="login-card">
    <form (ngSubmit)="connect()" *ngIf="!connected">
      <ion-list>
        <ion-list-header>Credentials</ion-list-header>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-button id="connect-button" type="submit">Connect</ion-button>
      </ion-list>
    </form>
    <ion-list *ngIf="connected">
        <ion-item>
          <ion-button id="disconnect-button" (click)="disconnect()">Disconnect</ion-button>
        </ion-item>
      </ion-list>
  </ion-card>

  <ion-card id="subscribe-card">
    <form (ngSubmit)="subscribe()">
      <ion-list>
        <ion-list-header>Add a feed</ion-list-header>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]=feed.name name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Url</ion-label>
          <ion-input type="text" [(ngModel)]=feed.url name="url"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button id="subscribe-button" type="submit">Subscribe</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>

  <ion-card id="contact-card">
    <ion-list>
      <ion-list-header>Follow us on Twitter</ion-list-header>
      <ion-item>
        <ion-icon name="people" item-start></ion-icon>
        @featherBrief
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
