<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="title-feed">Article</span>
      <ion-icon class="bookmark" [class.clicked]="article.saved" name="bookmark" (click)="bookmarkArticle(article)"></ion-icon>
      <ion-icon class="bookmark" [class.clicked]="article.shared" name="link" (click)="copyUrl(article)"></ion-icon>
      <ion-icon class="bookmark" name="open" (click)="openInBrowser(article)"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <!--<progress value="{{ progress }}" max="100"></progress>-->
</ion-header>
  
<ion-content padding>
    <h1>{{ article.title }}</h1>
    <div id="content-size" [innerHTML]=article.content></div>
</ion-content>
