<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feeditems</ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment [(ngModel)]="ordering">
    <ion-segment-button value="SCORE">
      Score
    </ion-segment-button>
    <ion-segment-button value="DATE">
      Date
    </ion-segment-button>
  </ion-segment>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content     
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      efreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="ordering">
    <ion-list *ngSwitchCase="'DATE'">
      <ion-item-sliding #slidingItem *ngFor="let itemByDate of feeditemsByDate" text-wrap [class.shown]="itemByDate.shown">
        <ion-item (click)="openArticle(itemByDate)">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ itemByDate.title }}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              {{ itemByDate.feed_parent }} | {{ itemByDate.date | date:"dd/MM/yyyy 'at' HH:mm" }}
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="start">
          <button ion-button color="secondary" (click)="bookmarkArticle(itemByDate, slidingItem)">Save</button>
          <button ion-button color="default" (click)="upvoteArticle(itemByDate, slidingItem)">Like</button>
          <button ion-button color="danger" (click)="downvoteArticle(itemByDate, slidingItem)">Dislike</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'SCORE'">
      <ion-item-sliding #slidingItem2 *ngFor="let itemByScore of feeditemsByScore" text-wrap [class.shown]="itemByScore.shown">
        <ion-item (click)="openArticle(itemByScore)">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ itemByScore.title }}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              {{ itemByScore.feed_parent }} | {{ itemByScore.date | date:"dd/MM/yyyy 'at' HH:mm" }}
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="start">
          <button ion-button color="secondary" (click)="bookmarkArticle(itemByScore, slidingItem2)">Save</button>
          <button ion-button color="default" (click)="upvoteArticle(itemByScore, slidingItem2)">Like</button>
          <button ion-button color="danger" (click)="downvoteArticle(itemByScore, slidingItem2)">Dislike</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
