ion-card {
  width: 100%;
  margin: 0px;
}
ion-card-subtitle {
  color: black;
}
.item-native {
  padding-left: 0px;
}
.item-inner {
  padding-right: 0px;
}
ion-card-header {
  padding: 5px;
}
ion-card-content {
  padding: 5px;
}