<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feeditems of {{ feedname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="ordering">
      <ion-list>
        <ion-item-sliding *ngFor="let item of feeditems" text-wrap [class.shown]="item.shown">
          <ion-item (click)="openArticle(item)">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ item.title }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                {{ item.feed_parent }} | {{ item.date | date:"dd/MM/yyyy 'at' HH:mm" }}
              </ion-card-content>
            </ion-card>
          </ion-item>
          <ion-item-options side="start">
            <button ion-button color="secondary" (click)="bookmarkArticle(item)">Save</button>
            <button ion-button color="default" (click)="upvoteArticle(item)">Like</button>
            <button ion-button color="danger" (click)="downvoteArticle(item)">Dislike</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-content>
  
