<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="feeds-card">
    <ion-list>
      <ion-list-header>Inserted feed</ion-list-header>
      <ion-item *ngFor="let f of feeds" (click)="openFeed(f)">
        <ion-grid>
          <ion-row>
              <ion-col size="10">
                <p>{{ f.name }}</p>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="trash"(click)="unsubscribe(f)"></ion-icon>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
