<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content     
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      efreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of feeditems" text-wrap [class.shown]="item.shown">
      <ion-item (click)="openArticle(item)">
        <p id="card-title">
          {{ item.title }}
        </p>
        <p id="card-url">
          {{ item.feed_parent }} | {{ item.date | date:"dd/MM/yyyy 'at' HH:mm" }}
        </p>
      </ion-item>
      <ion-item-options side="start">
        <button ion-button color="default" (click)="unsaveArticle(item, slidingItem)">Unsave</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>