<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="./assets/bg.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Feather brief</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can create an account <a href="https://cn-ds.gitlab.io/web-app/#/signup">here</a></p>
        <p>If you already have an account click <a href="/parameters">here</a></p>
      </ion-card-content>
    </ion-card>
</ion-content>
