<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Locally saved items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of feeditems" text-wrap [class.shown]="item.shown">
      <ion-item (click)="openArticle(item)">
        <p id="card-title">
          {{ item.title }}
        </p>
      </ion-item>
      <ion-item-options side="start">
        <button ion-button color="default" (click)="unsaveArticle(item)">Unsave</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>